<div class="row">
    <h2 class="text-center">Edit Profile</h2>

    <div class="panel-body">
      <%= render 'form' %>
      <hr>

      <div class="form-group text-center">
        <%= link_to 'Back', user_path(current_user), class: 'btn btn-green' %>
      </div>
    </div>
</div>
