<% @orders.each do |order| %>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= order.address %><br>
        <%= order.direction %><br>
        <%= order.phone_number %><br>
        <%= order.created_at.strftime("%Y-%m-%d at %H:%M") %>
      </div>
    </div>
  </div>
<% end %>
