<% if current_user %>
  <% if current_user.profile.blank? %>
    <%= link_to 'Create Profile', new_user_profile_path(current_user) %>
  <% end %>

  <%= link_to 'Create Order', new_order_path, class: 'btn btn-primary' %>
  <%= link_to 'My Orders', orders_path, class: 'btn btn-success' %>
<% end %>
<h1>This is temp homepage</h1>
